/* RESET */
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

/* HEADER */
.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.title h1 {
    color: yellowgreen;
    font-size: 28px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown h3 {
    font-size: 22px;
    cursor: pointer;
    margin-right: 20px;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    background: #fff;
    padding: 10px;
    min-width: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1000;
}

.dropdown:hover .menu {
    display: block;
}

/* MOBILE CLICK SUPPORT */
.menu.active {
    display: block !important;
}

.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background: #eee;
}

/* SECTION TITLE */
.cse h3 {
    color: white;
    background: black;
    text-align: center;
    padding: 18px 0;
    font-size: 22px;
}

/* SLIDER */
.slider-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

/* CARD WRAPPER */
.cards {
    display: flex;
    gap: 25px;
    padding: 20px;
}

/* CARD */
.card {
    min-width: 25%;
    height: 380px;
    background: #b5b5b5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-shrink: 0;
}

/* THUMBNAIL */
.thumb img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

.thumb h3, .thumb p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* BUTTON */
.card button {
    margin-top: auto;
    height: 48px;
    background: blue;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

@media (max-width: 768px) {

    .cards {
        gap: 20px;
        padding: 10px;
    }

    .card {
        min-width: 80%;
        margin: 0 20px;  
        scroll-snap-align: center;
        height: 420px;
    }

    .slider-container {
        scroll-snap-type: x mandatory;
    }

    .dropdown:hover .menu {
        display: none;
    }
}
@media (max-width: 480px) {

    .card {
        min-width: 85%;
        height: 430px;
        margin: 0 18px;
        padding-right: 20px;
       
    }

    .thumb img {
        height: 230px;
    }

    .slider-container {
        padding-left: 10px;
        padding-right: 10px;
        scroll-snap-type: x mandatory;
        margin-right: 100px;
    }

    .dropdown h3 {
        font-size: 20px;
    }
    .cse h3 {
    font-size: 15px;
}
}
/* -------------------------------------------ECE-------------------------------------------------------------------- */
/* SECTION TITLE */
.ece h3 {
    color: white;
    background: black;
    text-align: center;
    padding: 18px 0;
    font-size: 22px;
}

/* SLIDER */
.slider-container-ece {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider-container-ece::-webkit-scrollbar {
    display: none;
}

/* CARD WRAPPER */
.cards-ece {
    display: flex;
    gap: 25px;
    padding: 20px;
}

/* CARD */
.card-ece {
    min-width: 25%;
    height: 380px;
    background: #b5b5b5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-shrink: 0;
}

/* THUMBNAIL */
.thumb-ece img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

.thumb-ece h3, .thumb-ece p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* BUTTON */
.card-ece button {
    margin-top: auto;
    height: 48px;
    background: blue;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

@media (max-width: 768px) {

    .cards-ece {
        gap: 20px;
        padding: 10px;
    }

    .card-ece {
        min-width: 80%;
        margin: 0 20px;  
        scroll-snap-align: center;
        height: 420px;
    }

    .slider-container-ece {
        scroll-snap-type: x mandatory;
    }


}
@media (max-width: 480px) {

    .card-ece {
        min-width: 85%;
        height: 430px;
        margin: 0 18px;
        padding-right: 20px;
       
    }

    .thumb-ece img {
        height: 230px;
    }

    .slider-container-ece {
        padding-left: 10px;
        padding-right: 10px;
        scroll-snap-type: x mandatory;
        margin-right: 100px;
    }

   
    .ece h3 {
    font-size: 13px;
}
}
/* -----------------------------------------EEE---------------------------------------------------------------- */
.eee h3 {
    color: white;
    background: black;
    text-align: center;
    padding: 18px 0;
    font-size: 22px;
}

/* SLIDER */
.slider-container-eee {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.slider-container-eee::-webkit-scrollbar {
    display: none;
}

/* CARD WRAPPER */
.cards-eee {
    display: flex;
    gap: 25px;
    padding: 20px;
}

/* CARD */
.card-eee {
    min-width: 25%;
    height: 380px;
    background: #b5b5b5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-shrink: 0;
}

/* THUMBNAIL */
.thumb-eee img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
}

.thumb-eee h3, .thumb-eee p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* BUTTON */
.card-eee button {
    margin-top: auto;
    height: 48px;
    background: blue;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

@media (max-width: 768px) {

    .cards-eee {
        gap: 20px;
        padding: 10px;
    }

    .card-eee {
        min-width: 80%;
        margin: 0 20px;  
        scroll-snap-align: center;
        height: 420px;
    }

    .slider-container-eee {
        scroll-snap-type: x mandatory;
    }


}
@media (max-width: 480px) {

    .card-eee {
        min-width: 85%;
        height: 430px;
        margin: 0 18px;
        padding-right: 20px;
       
    }

    .thumb-eee img {
        height: 230px;
    }

    .slider-container-eee {
        padding-left: 10px;
        padding-right: 10px;
        scroll-snap-type: x mandatory;
        margin-right: 100px;
    }

   
    .eee h3 {
    font-size: 13px;
}
}